# Exploración y limpieza de datos

In [20]:
import pandas as pd

In [2]:
mesur = pd.read_csv('measurements.csv')

In [3]:
mesur.sample(5)

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
317,"41,9","4,7",53,22,14,NaN,SP98,0,0,0,NaN,NaN
48,"11,8","4,9",25,"21,5",11,NaN,SP98,0,0,0,NaN,NaN
73,"9,7","3,9",42,"21,5",8,NaN,SP98,0,0,0,NaN,NaN
170,"22,7","4,7",55,"21,5",6,NaN,E10,0,0,0,NaN,NaN
86,"13,2","4,3",51,20,11,rain,SP98,0,1,0,NaN,NaN

In [4]:
mesur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [5]:
mesur.shape

(388, 12)

In [6]:
mesur.isna().sum() #temp_inside 12 // specials 295 //refill liters + refill gas 375

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

In [7]:
#como refill liters y refill gas tienen 375 de 388 nulls, prescindimos de ellas
mesur.drop(['refill liters','refill gas'],axis=1,inplace=True)

In [8]:
mesur.specials.value_counts()
#specials tiene más del 75% de datos nulos y la mayoría de loss datos aparencen ya en columnas (rain, ac...)
# también prescindimos de esta columna

rain                  32
sun                   27
AC rain                9
ac                     8
AC                     6
snow                   3
sun ac                 3
AC snow                1
half rain half sun     1
AC sun                 1
AC Sun                 1
ac rain                1
Name: specials, dtype: int64

In [9]:
mesur.drop('specials',axis=1,inplace=True)

In [10]:
mesur.sample(3)

    distance consume  speed temp_inside  temp_outside gas_type  AC  rain  sun
60       2,9     7,9     18        21,5             9     SP98   1     1    0
349     18,3     4,3     46          22            16     SP98   0     0    0
77      24,8     5,1     50        21,5             9     SP98   0     0    0

todos los datos son numéricos menos gas_type, por lo que, estas variables, si son tipo objet, las convertiremos a tipo float o int,dependiendo del caso...

In [11]:
mesur.select_dtypes(include=['object']).columns

Index(['distance', 'consume', 'temp_inside', 'gas_type'], dtype='object')

In [12]:
mesur.distance = mesur.distance.str.replace(',','.')
mesur.consume = mesur.consume.str.replace(',','.')
mesur.temp_inside = mesur.temp_inside.str.replace(',','.')

In [13]:
mesur.distance = mesur.distance.astype('float')
mesur.consume = mesur.consume.astype('float')
mesur.temp_inside = mesur.temp_inside.astype('float')

In [14]:
mesur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   distance      388 non-null    float64
 1   consume       388 non-null    float64
 2   speed         388 non-null    int64
 3   temp_inside   376 non-null    float64
 4   temp_outside  388 non-null    int64
 5   gas_type      388 non-null    object
 6   AC            388 non-null    int64
 7   rain          388 non-null    int64
 8   sun           388 non-null    int64
dtypes: float64(3), int64(5), object(1)
memory usage: 27.4+ KB

In [15]:
mesur.isna().sum() #sigue habiendo nulos en temp_inside, como son pocos los rellenaremos

distance         0
consume          0
speed            0
temp_inside     12
temp_outside     0
gas_type         0
AC               0
rain             0
sun              0
dtype: int64

In [16]:
mesur.temp_inside.mean(),mesur.temp_inside.mode(),mesur.temp_inside.median()

(21.929521276595743,
 0    21.5
 dtype: float64,
 22.0)

In [17]:
mesur.temp_inside.fillna(mesur.temp_inside.mean(),inplace = True)
#rellenamos los nulos de temp_inside con la media y comprobamos que no hay práctiamente cambio en la propia media
mesur.temp_inside.mean()

21.92952127659574

In [28]:
mesur.to_csv('export/mesur_clean.csv', index=False)