In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("measurements.csv") #cargamos el csv.

In [3]:
df.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

### Exploro la forma del dataset:

In [4]:
df.shape

(388, 12)

### Veo la naturaleza de los datos y convierto a num√©ricos las dos primeras columnas (distancia y consumo):

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [6]:
def replace_coma(x):
    return x.replace(",",".")

In [7]:
lista_col=["distance","consume"]

In [8]:
for x in lista_col:
    df[x]=list(df[x].apply(replace_coma))
    df[x] = df[x].astype(float)

In [9]:
df['temp_inside'] = pd.to_numeric(df['temp_inside'],errors = 'coerce')

In [10]:
df.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,NaN,12,NaN,E10,0,0,0,45,E10
1,12.0,4.2,30,NaN,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,NaN,15,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,NaN,14,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,NaN,15,NaN,E10,0,0,0,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    float64
 1   consume        388 non-null    float64
 2   speed          388 non-null    int64
 3   temp_inside    169 non-null    float64
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: float64(3), int64(5), object(4)
memory usage: 36.5+ KB

### Compruebo que no hay duplicados:

In [12]:
df=df.drop_duplicates() #no hay duplicados.

In [13]:
df.shape

(388, 12)

### Compruebo d√≥nde hay valores nulos:

In [14]:
df.isna().sum()

distance           0
consume            0
speed              0
temp_inside      219
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

### Relleno los nulos con "Unkown" al tratarse de variables categ√≥ricas:

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    float64
 1   consume        388 non-null    float64
 2   speed          388 non-null    int64
 3   temp_inside    169 non-null    float64
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: float64(3), int64(5), object(4)
memory usage: 39.4+ KB

In [16]:
#relleno los Nan con la media de las temperaturas al ser una variable num√©rica:
df["temp_inside"].fillna(df["temp_inside"].mean(), inplace=True)

In [17]:
#relleno los Nan de "specials" con "Unkown" al ser categ√≥rica:
df.specials.fillna(("Unknown"), inplace=True)

In [18]:
#elimino las columnas de "refill liters" y "refill gas" por el alto porcentaje de Nans que contienen:
df.drop(["refill liters","refill gas"], axis=1, inplace=True)

In [19]:
df.isna().sum()

distance        0
consume         0
speed           0
temp_inside     0
temp_outside    0
specials        0
gas_type        0
AC              0
rain            0
sun             0
dtype: int64

In [20]:
df.sample()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun
57,12.3,6.2,61,21.934911,8,Unknown,SP98,0,0,0

### Guardo el dataset limpio:

In [21]:
df.to_csv('measurementsclean.csv')