In [73]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [74]:
df= pd.read_csv('measurements.csv', sep=",", decimal=",")

In [75]:
df.sample(10)

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
375,11.9,3.7,33,25.0,19,NaN,SP98,0,0,0,NaN,NaN
220,29.0,4.0,27,22.5,12,NaN,SP98,0,0,0,NaN,NaN
229,11.8,4.8,42,22.5,2,NaN,SP98,0,0,0,NaN,NaN
7,12.3,5.0,40,21.5,6,NaN,E10,0,0,0,NaN,NaN
51,10.6,4.9,63,21.5,6,NaN,SP98,0,0,0,NaN,NaN
315,21.4,5.2,51,22.0,13,NaN,SP98,0,0,0,NaN,NaN
174,26.2,4.9,42,21.5,6,NaN,E10,0,0,0,NaN,NaN
12,12.3,5.9,59,21.5,10,NaN,E10,0,0,0,NaN,NaN
32,12.3,5.6,58,21.5,8,NaN,E10,0,0,0,NaN,NaN
82,10.5,3.6,42,20.0,10,NaN,SP98,0,0,0,37.7,SP98

### Realizamos una agrupacion por el tipo de gas y calculamos la media de todos las demas variables

In [76]:
df.groupby('gas_type').mean()

,distance,consume,speed,temp_inside,temp_outside,AC,rain,sun,refill liters
gas_type,,,,,,,,,
E10,21.096250,4.931250,43.506250,21.917197,10.11875,0.043750,0.100000,0.075000,39.6000
SP98,18.639912,4.899123,40.820175,21.938356,12.22807,0.100877,0.140351,0.087719,35.5625

En primera instancia obtenemos que el que presenta menor consumo por cada 100 km recorrido es el gas SP98, sin embargo, al observar las variables que influyen podemos apreciar que las valores son muy distinto por lo que experimentalmente no podemos afirmar que ese gas rinde mas, ya que las demas variables no son iguales para ambos casos.

Debido a estos resultados y para dar respuesta al reto, mi propuesta es realizar un modelo predictivo, para calculara el consumo para ambos gases bajo las condiciones que el usuario diga, con la finalidad de indicarle al usuario cual de los 2 gases seria el mas optimo para sus condiciones.

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    float64
 1   consume        388 non-null    float64
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    float64
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     float64
 11  refill gas     13 non-null     object
dtypes: float64(4), int64(5), object(3)
memory usage: 36.5+ KB

In [78]:
df.columns.tolist()

['distance',
 'consume',
 'speed',
 'temp_inside',
 'temp_outside',
 'specials',
 'gas_type',
 'AC',
 'rain',
 'sun',
 'refill liters',
 'refill gas']

In [79]:
df_2=df[['distance',
 'consume',
 'speed',
 'temp_inside',
 'temp_outside',
 'gas_type',
 'AC',
 'rain',
 'sun']]
df_2

,distance,consume,speed,temp_inside,temp_outside,gas_type,AC,rain,sun
0,28.0,5.0,26,21.5,12,E10,0,0,0
1,12.0,4.2,30,21.5,13,E10,0,0,0
2,11.2,5.5,38,21.5,15,E10,0,0,0
3,12.9,3.9,36,21.5,14,E10,0,0,0
4,18.5,4.5,46,21.5,15,E10,0,0,0
...,...,...,...,...,...,...,...,...,...
383,16.0,3.7,39,24.5,18,SP98,0,0,0
384,16.1,4.3,38,25.0,31,SP98,1,0,0
385,16.0,3.8,45,25.0,19,SP98,0,0,0
386,15.4,4.6,42,25.0,31,SP98,1,0,0
387,14.7,5.0,25,25.0,30,SP98,1,0,0

In [80]:
df_2=pd.get_dummies(df_2, columns=['gas_type'], drop_first=True)

In [81]:
df_2['consume_total']=(df_2['distance']*df_2['consume'])/100

In [82]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    float64
 1   consume        388 non-null    float64
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    float64
 4   temp_outside   388 non-null    int64
 5   AC             388 non-null    int64
 6   rain           388 non-null    int64
 7   sun            388 non-null    int64
 8   gas_type_SP98  388 non-null    uint8
 9   consume_total  388 non-null    float64
dtypes: float64(4), int64(5), uint8(1)
memory usage: 27.8 KB

In [83]:
df_2=df_2.dropna()
df_2.sample(10)

,distance,consume,speed,temp_inside,temp_outside,AC,rain,sun,gas_type_SP98,consume_total
327,16.5,3.9,43,22.0,17,0,0,0,0,0.6435
358,6.1,5.0,33,22.0,24,0,0,1,1,0.3050
233,5.2,4.6,38,22.5,8,0,0,0,1,0.2392
387,14.7,5.0,25,25.0,30,1,0,0,1,0.7350
104,12.4,5.4,18,21.0,11,1,1,0,1,0.6696
318,211.0,4.6,80,22.0,20,0,0,0,1,9.7060
320,25.5,3.6,27,22.0,27,0,0,1,1,0.9180
374,28.5,4.0,44,25.0,23,1,0,0,1,1.1400
383,16.0,3.7,39,24.5,18,0,0,0,1,0.5920
57,12.3,6.2,61,21.5,8,0,0,0,1,0.7626

In [84]:
X= df_2[['distance',
 'speed',
 'temp_inside',
 'temp_outside',
 'AC',
 'rain',
 'sun',
 'gas_type_SP98'
        ]]

y=df_2['consume']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=666)

lr = LinearRegression()

model=lr.fit(X=X_train,
           y=y_train)

In [85]:
mean_squared_error(
    y_true=y_test,
    y_pred=model.predict(X_test)
)

0.8827011575049637

El modelo planteado ha sido un linear regresion, donde nuestra data la separamos en 2 grupos, el train entrenar nuestro modelo, y el test para evaluarlo, y al realizar esto obtubimos que el error cuadrado de nuestro modelo fue de 0.8827

## teniendo el modelo procederemos a montar un API con flask que permitira al usuario colocar las condiciones y asi obtener que gas le sera mucho mas rentable