In [44]:
import sqlalchemy as alch
from getpass import getpass
import pandas as pd

### First, let's connect to MySQL DB:

In [51]:
password = getpass("Dame la contraseña: ")

Dame la contraseña: ········

In [52]:
dbName = "cobify"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

#### Let's bring the CSVs:

In [60]:
consume_data = pd.read_csv("../data/consume_data.csv")

In [61]:
refill_data = pd.read_csv("../data/refill_data.csv")

In [62]:
refill_data.sample(5)

   consume_id  refill_liters refill_gas
5         171           38.3        E10
7         192           39.0       SP98
6         191           10.0       SP98
0           0           45.0        E10
3         106           45.0       SP98

#### Now, we can import each dataset to it's MySQL table:

In [63]:
# Let's do refill_data:

for i, row in refill_data.iterrows():
    
    # Let's get gas_type_id:
    gas_type_df = pd.read_sql_query(
    f"""
    SELECT *
    FROM gas_types
    WHERE gas_name = "{row["refill_gas"]}";
    """, engine)

    gas_type_id = int(gas_type_df.gas_type_id)
    
    engine.execute(f"""
    INSERT refills VALUES
    ({row["consume_id"]},
    {row["refill_liters"]},
    {gas_type_id}
    );""")

In [64]:
consume_data.tail(5)

,consume_id,distance,consume,speed,temp_inside,temp_outside,gas_type,AC,rain,sun,snow
371,383,16.0,3.7,39,24.5,18,SP98,0,0,0,0
372,384,16.1,4.3,38,25.0,31,SP98,1,0,0,0
373,385,16.0,3.8,45,25.0,19,SP98,0,0,0,0
374,386,15.4,4.6,42,25.0,31,SP98,1,0,0,0
375,387,14.7,5.0,25,25.0,30,SP98,1,0,0,0

In [65]:
for i, row in consume_data.iterrows():
    
    # Let's get gas_type_id:
    gas_type_df = pd.read_sql_query(
    f"""
    SELECT *
    FROM gas_types
    WHERE gas_name = "{row["gas_type"]}";
    """, engine)

    gas_type_id = int(gas_type_df.gas_type_id)
    
    engine.execute(f"""
    INSERT consumes VALUES
    ({row["consume_id"]},
    {row["distance"]},
    {row["consume"]},
    {row["speed"]},
    {row["temp_inside"]},
    {row["temp_outside"]},
    {gas_type_id},
    {row["AC"]},
    {row["rain"]},
    {row["sun"]},
    {row["snow"]}
    );""")

#### Both clean dataset are in MySQL DB