In [7]:
import sqlalchemy as alch
from getpass import getpass
import pandas as pd

### First, let's connect to MySQL DB:

In [8]:
password = getpass("Dame la contraseña: ")

Dame la contraseña: ········

In [9]:
dbName = "cobify"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

#### Let's bring the CSVs:

In [20]:
consume_data = pd.read_csv("../data/consume_data.csv")

In [21]:
refill_data = pd.read_csv("../data/refill_data.csv")

In [30]:
refill_data.sample(5)

    Unnamed: 0  refill_liters refill_gas
1           44           37.6       SP98
8          234           39.0        E10
2           82           37.7       SP98
3          106           45.0       SP98
10         313           37.0       SP98

#### Now, we can import each dataset to it's MySQL table:

In [29]:
# Let's do refill_data:

for i, row in refill_data.iterrows():
    
    # Let's get gas_type_id:
    gas_type_df = pd.read_sql_query(
    f"""
    SELECT *
    FROM gas_types
    WHERE gas_name = "{row["refill_gas"]}";
    """, engine)

    gas_type_id = int(gas_type_df.gas_type_id)
    
    engine.execute(f"""
    INSERT refills VALUES
    ({row["Unnamed: 0"]},
    {row["refill_liters"]},
    {gas_type_id}
    );""")

In [31]:
consume_data.sample(5)

,Unnamed: 0,distance,consume,speed,temp_inside,temp_outside,gas_type,AC,rain,sun,snow
31,31,11.8,5.0,29,21.5,10,E10,0,0,0,0
97,104,12.4,5.4,18,21.0,11,SP98,1,1,0,0
230,239,16.9,4.5,48,22.5,9,E10,0,0,1,0
206,215,12.1,4.4,33,22.5,5,SP98,0,0,0,0
164,171,44.4,4.8,38,21.5,8,E10,0,0,0,0

In [33]:
for i, row in consume_data.iterrows():
    
    # Let's get gas_type_id:
    gas_type_df = pd.read_sql_query(
    f"""
    SELECT *
    FROM gas_types
    WHERE gas_name = "{row["gas_type"]}";
    """, engine)

    gas_type_id = int(gas_type_df.gas_type_id)
    
    engine.execute(f"""
    INSERT consumes VALUES
    ({row["Unnamed: 0"]},
    {row["distance"]},
    {row["consume"]},
    {row["speed"]},
    {row["temp_inside"]},
    {row["temp_outside"]},
    {gas_type_id},
    {row["AC"]},
    {row["rain"]},
    {row["sun"]},
    {row["snow"]}
    );""")

#### Both clean dataset are in MySQL DB