# Import libraries

In [2]:
import pandas as pd
import re

# First cleaning

In [3]:
df = pd.read_csv("measurements.csv")

In [4]:
df

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
383,16,"3,7",39,"24,5",18,NaN,SP98,0,0,0,NaN,NaN
384,"16,1","4,3",38,25,31,AC,SP98,1,0,0,NaN,NaN
385,16,"3,8",45,25,19,NaN,SP98,0,0,0,NaN,NaN
386,"15,4","4,6",42,25,31,AC,SP98,1,0,0,NaN,NaN
387,"14,7",5,25,25,30,AC,SP98,1,0,0,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [6]:
#Drop columns "specials", "refill liters" and "refill gas" as they do not offer a lot of information

In [7]:
df.drop(['specials', 'refill liters', 'refill gas'], axis=1, inplace=True)

In [8]:
df.isnull().sum()

distance         0
consume          0
speed            0
temp_inside     12
temp_outside     0
gas_type         0
AC               0
rain             0
sun              0
dtype: int64

In [9]:
df.head()

  distance consume  speed temp_inside  temp_outside gas_type  AC  rain  sun
0       28       5     26        21,5            12      E10   0     0    0
1       12     4,2     30        21,5            13      E10   0     0    0
2     11,2     5,5     38        21,5            15      E10   0     0    0
3     12,9     3,9     36        21,5            14      E10   0     0    0
4     18,5     4,5     46        21,5            15      E10   0     0    0

# Cleaning by columns

### Column distance

In [10]:
# To transform this column into numeric values

In [11]:
distance = list(df.distance.unique())

In [12]:
lista=[]
for i in distance:
    lista.append(re.sub(",", ".", i))

In [13]:
dict_from_list = dict(zip(distance, lista))

In [14]:
df=df.replace({"distance": dict_from_list})

In [15]:
df['distance'] = pd.to_numeric(df.distance, errors='coerce')

In [16]:
df.isnull().sum()

distance         0
consume          0
speed            0
temp_inside     12
temp_outside     0
gas_type         0
AC               0
rain             0
sun              0
dtype: int64

### Column consume

In [17]:
# To transform this column into numeric values. Similar procedure as distance column.

In [18]:
consume = list(df.consume.unique())

In [19]:
lista1=[]
for i in consume:
    lista1.append(re.sub(",", ".", i))

In [20]:
dict_from_list1 = dict(zip(consume, lista1))

In [21]:
df=df.replace({"consume": dict_from_list1})

In [22]:
df['consume'] = pd.to_numeric(df.consume, errors='coerce')

### Column speed

In [23]:
df.speed.unique()

array([26, 30, 38, 36, 46, 50, 43, 40, 42, 59, 58, 24, 32, 39, 37, 62, 57,
       21, 28, 29, 35, 51, 23, 55, 44, 25, 63, 61, 82, 52, 18, 41, 20, 56,
       45, 22, 60, 33, 34, 71, 75, 66, 27, 49, 14, 80, 53, 47, 73, 69, 85,
       67, 54, 31, 48, 16, 88, 65, 90, 87])

In [24]:
df['speed'] = pd.to_numeric(df.speed, errors='coerce')

### Column temp_inside

In [25]:
temp = list(df.temp_inside.unique())

In [26]:
print(temp)

['21,5', '22,5', '20', nan, '21', '20,5', '23', '23,5', '25', '24', '22', '19', '24,5', '25,5']

In [27]:
lista2=[]
for i in temp:
    try:
        lista2.append(re.sub(",", ".", i))
    except:
        lista2.append(i)

In [28]:
print(lista2)

['21.5', '22.5', '20', nan, '21', '20.5', '23', '23.5', '25', '24', '22', '19', '24.5', '25.5']

In [29]:
dict_from_list2 = dict(zip(temp, lista2))

In [30]:
df=df.replace({"temp_inside": dict_from_list2})

In [31]:
df['temp_inside'] = pd.to_numeric(df.temp_inside, errors='coerce')

In [59]:
# Relleno los Nan con la media

In [48]:
mean=round(df.temp_inside.mean(), 1)

In [49]:
df ['temp_inside'] = df ['temp_inside']. fillna(mean)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   distance      388 non-null    float64
 1   consume       388 non-null    float64
 2   speed         388 non-null    int64
 3   temp_inside   388 non-null    float64
 4   temp_outside  388 non-null    int64
 5   gas_type      388 non-null    object
 6   AC            388 non-null    int64
 7   rain          388 non-null    int64
 8   sun           388 non-null    int64
dtypes: float64(3), int64(5), object(1)
memory usage: 27.4+ KB

### Column gas type

In [33]:
df.gas_type.unique()

array(['E10', 'SP98'], dtype=object)

In [52]:
gas_type_dum=pd.get_dummies(df['gas_type'])

In [53]:
gas_type_dum

     E10  SP98
0      1     0
1      1     0
2      1     0
3      1     0
4      1     0
..   ...   ...
383    0     1
384    0     1
385    0     1
386    0     1
387    0     1

[388 rows x 2 columns]

In [55]:
df=pd.concat([df,gas_type_dum],axis=1)

In [56]:
df.head()

,distance,consume,speed,temp_inside,temp_outside,gas_type,AC,rain,sun,E10,SP98
0,28.0,5.0,26,21.5,12,E10,0,0,0,1,0
1,12.0,4.2,30,21.5,13,E10,0,0,0,1,0
2,11.2,5.5,38,21.5,15,E10,0,0,0,1,0
3,12.9,3.9,36,21.5,14,E10,0,0,0,1,0
4,18.5,4.5,46,21.5,15,E10,0,0,0,1,0

### Column AC

In [34]:
# This column is already numeric

In [35]:
df.AC.unique()

array([0, 1])

### Column Rain

In [36]:
# This column is already numeric

In [37]:
df.rain.unique()

array([0, 1])

### Column Sun

In [38]:
# This column is already numeric

In [39]:
df.sun.unique()

array([0, 1])

In [40]:
df.shape

(388, 9)

In [44]:
df.isnull().sum()

distance         0
consume          0
speed            0
temp_inside     12
temp_outside     0
gas_type         0
AC               0
rain             0
sun              0
dtype: int64

In [57]:
# Export this dataframe into csv
df.to_csv("measurements_cleaned.csv", index = False)