In [1]:
import pandas as pd

In [104]:
df=pd.read_csv("measurements.csv") #cargamos el csv.

In [105]:
df.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

### Exploro la forma del dataset:

In [106]:
df.shape

(388, 12)

### Veo la naturaleza de los datos:

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

### Compruebo que no hay duplicados:

In [108]:
df=df.drop_duplicates() #no hay duplicados.

In [109]:
df.shape

(388, 12)

### Compruebo dónde hay valores nulos:

In [110]:
df.isna().sum()

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

### Relleno los nulos con "Unkown" al tratarse de variables categóricas:

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 39.4+ KB

In [112]:
df['temp_inside'] = pd.to_numeric(df['temp_inside'],errors = 'coerce')

In [113]:
#relleno los Nan con la media de las temperaturas al ser una variable numérica:
df["temp_inside"].fillna(df["temp_inside"].mean(), inplace=True)

In [114]:
#relleno los Nan de "specials" con "Unkown" al ser categórica:
df.specials.fillna(("Unknown"), inplace=True)

In [117]:
#elimino las columnas de "refill liters" y "refill gas" por el alto porcentaje de Nans que contienen:
df.drop(["refill liters","refill gas"], axis=1, inplace=True)

In [118]:
df.isna().sum()

distance        0
consume         0
speed           0
temp_inside     0
temp_outside    0
specials        0
gas_type        0
AC              0
rain            0
sun             0
dtype: int64

In [120]:
df.sample()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun
215,"12,1","4,4",33,21.934911,5,Unknown,SP98,0,0,0

### Guardo el dataset limpio:

In [121]:
df.to_csv('measurementsclean.csv')